---
layout: default
title: Cody Peterson
---

<main id="home">
  <div class="bio">
    <p class="huge">
      Cody helps organizations, artists, and friends <br />
      <em>create&nbsp;and&nbsp;launch</em> interesting projects.
    </p>
    <p class="large">
      <em>Currently available for new work.</em>
      <br />
    </p>
  </div>
  <section class="selected-work">
    <h2 class="heading">Selected Work</h2>
    <article>
      <a href="http://work.codyjamespeterson.com/Omahype-com" title="Project Details">
        <img src ="/images/omahype.jpg" title="Omahype" />
        <div class="selected-work-info">
          <h1>Omahype</h1>
        </div>
      </a>
    </article>
    <article>
      <a href="http://work.codyjamespeterson.com/Artifact-Bag-Co-Website" title="Project Details">
        <img src ="/images/artifact.jpg" title="Artifact Bag Co." />
        <div class="selected-work-info">
          <h1>Artifact Bag Co.</h1>
        </div>
      </a>
    </article>
    <article>
      <a href="http://work.codyjamespeterson.com/Passweird" title="Project Details">
        <img src ="/images/passweird.jpg" title="Passweird" />
        <div class="selected-work-info">
          <h1>Passweird</h1>
        </div>
      </a>
    </article>
    <a href="http://work.codyjamespeterson.com">&nbsp;View All</a>
  </section>
  <section class="posts">
    <h2 class="heading">Selected Writing &amp; News</h2>
    {% for post in site.posts %}
      {% if post.categories contains 'featured' %}
        <article>
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        </article>
      {% endif %}
    {% endfor %}
  </section>
</main>
