// #Buttons
.btn {
  background-color: $red;
  color: $white;
  padding: 24px 33px 22px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px;
  @include transition(background-color 0.3s ease-in-out);
  &:hover { background-color: $darkred; }
}

.twitter-btn, .facebook-btn {
  @extend .hide-text;
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  @include transition(opacity 0.3s ease-in-out);
  &:hover { opacity: 0.8; }
}

.link-btns {
  margin: 30px 20px 0;
  @include clearfix;
  a.link-btn {
    @extend .btn;
    padding: 8px 15px 8px 40px;
    background-size: auto 58%;
    background-position: 10px center;
    background-color: $twitter;
    text-transform: none;
    margin: 0 5px 10px;
    @include inline-block;
    &:hover { background-color: darken($twitter, 10%); }
    &.link-btn-facebook {
      background-color: $facebook;
      background-position: 15px center;
      &:hover { background-color: darken($facebook, 10%); }
    }
  }
}

// Two-toned Buttons
.btn-two-toned {
  @extend .form-text-styles;
  border-color: transparent;
  border-radius: 7px;
  background: $red;
  color: $white;
  text-transform: uppercase;
  padding: 15px 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  -webkit-appearance: none;
  position: relative;
  &:focus, &:hover {
    background: darken($red, 5%);
    &:before { background: darken($darkred, 5%); }
  }
  &, &:before {
    @include transition(background 0.2s ease-in-out);
  }
  &:before {
    background: $darkred;
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 0;
    border-radius: 0 0 7px 7px;
  }
  span {
    position: relative;
    z-index: 1;
  }
}
