/* #Colors
===================== */
// Fallback Colors
$green: green;
$lightblue: blue;

// Primary Colors
$white: #fcfcfc;
$black: #14442D;
$grey: #B2B2AA;

$blue: #63C4B2;
$red: #CE582E;
$darkred: darken($red, 10%);
$yellow: #D7B131;
$pink: #DA7276;

$primary: $red;
$secondary: $blue;

// Other Colors
$grey1: #e9e9e7; $tan: $grey1;
$grey2: darken($grey1, 2%);
$grey3: darken($grey1, 8%);
$grey4: darken($grey1, 12%);
$grey5: darken($grey1, 16%);
$grey6: #8C877B;
$grey7: darken($grey6, 2%);
$grey8: darken($grey6, 4%);

// Brand Colors
$facebook: #3b5998;
$twitter: #00acee;
