html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
::-moz-selection { background: $primary; color: #fff; text-shadow: none; }
::selection { background: $primary; color: #fff; text-shadow: none; }

figcaption {
  background: $grey1;
  font-size: em(13);
  padding: 14px;
  margin: 0;
}
blockquote {
  margin: em(34) 0;
  padding: 0 120px 0 25px;
  border-left: 5px solid $grey2;
  font-size: em(26);
  line-height: 1.3;
  color: $black;
  p{
    margin: 0;
  }
}
