// #Forms
////////////////////
form {
  @include clearfix;
  label {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.form-element, .submit-element {
  @include clearfix;
  float: left;
  width: 260px;
  padding: 0 12px 0 0;
  @media screen and (max-width: 660px) {
    width: 100% !important;
    margin: 0 0 10px;
    padding: 0;
  }
}
.form-element-zip { width: 130px; }

.form-text-styles {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.05em;
}

form input, form button {
  border: 2px solid $grey6;
  border-radius: 7px;
  padding: 12px 15px;
  width: 100%;
  color: $grey6;
  background: rgba($white, 0.9);
  @extend .form-text-styles;
  @include transition(background 0.2s ease-in-out);
  @include placeholder {
    @extend .form-text-styles;
    color: $grey6;
  }
  &:focus {
    outline: none;
    background: $white;
    @include placeholder {
      color: $grey4;
    }
  }
}

.submit-element {
  padding: 0;
  width: auto;
  button {
    @include box-sizing(border-box);
    @extend .btn-two-toned;
    padding: 9px 35px 8px;
    font-size: 1.25em;
    &:before {
      left: -2px;
      right: -2px;
      bottom: -2px;
    }
  }
}
