---
layout: blog
title: Posts
---

<section class="excerpt-list">
  {% for post in paginator.posts %}
  <article class="excerpt">
    <header>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></a></h1>
      {% if post.subtitle %}
      <h2>{{ post.subtitle }}</h2>
      {% endif %}
      <p class="date">
        by Cody Peterson
        on {{ post.date | date: "%B %d, %Y" }}
      </p>
    </header>
  </article>
  {% endfor %}
</section>
