.footer-main {
  margin: 60px 0 100px;
  @include clearfix;
}

.footer-copyright {
  padding: 0;
  margin: 0 120px 0 0;
  color: $red;
  float: left;
  line-height: 1.8em;
}

.footer-main-contact {
  @extend .font-serif;
  color: $grey;
  font-size: 1.4em;
  float: left;
}
