.post, .excerpt-list {
  max-width: 680px;
  margin: 80px auto 100px;
}

.excerpt {
  padding: 20px 0;
  h1, h2, p { margin: 0; }
}

.content {
  p {
    @extend .font-serif;
    font-size: 1.4em;
    line-height: 1.5em;
  }
}

p.date {
  color: $grey;
}
