// Pagination
.pagination {
  @include clearfix;
  margin: 4px 0;
  a {
    @extend .font-serif;
    width: 50%;
    float: right;
    padding: 35px 20px;
    background: $grey3;
    text-align: center;
    color: $grey6;
    &.pagination-previous { border-left: 2px solid $white; }
    &.pagination-next {
      border-right: 2px solid $white;
      float: left;
    }
  }
}


// Project list
.projects {
  a {
    color: $white;
    &:hover {
      color: $black;
    }
  }
}

// Single Project
.project {
  @include clearfix;
  padding-top: 0;
  position: relative;
  margin-bottom: 4px;
  img {
    width: 100%;
  }
}

.project-header {
  position: absolute;
  top: 40px;
  left: 40px;
  border: 4px solid $white;
  padding: 20px;
  a:hover & {
    background: $white;
  }
  h1 {
    @extend .font-serif;
    font-weight: 100;
    letter-spacing: 0.035em;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 10px;
  }
  h2 {
    margin: 0;
    font-size: 1.2em;
  }
  p.meta {
    margin: 0;
    line-height: 1em;
  }
}

.project-description {
  @extend .wrap-small;
  color: $white;
  margin: 40px auto;
  .project-description-wrap {
    padding: 40px;
    border: 4px solid $white;
  }
  h1 {
    @extend .font-serif;
    font-weight: 100;
  }
}

// For the image area, sometimes we want multiple images in a row
.grid-2, .grid-3, .grid-4, .grid-5 {
  @include clearfix;
  img { float: left; }
}

.grid-2 img { width: 50%; }
.grid-3 img { width: 33.33333%; }
.grid-4 img { width: 25%; }
.grid-5 img { width: 20%; }
