@import "../bower_components/bourbon/dist/bourbon";
@import "base/_all";
@import "components/_all";

// #Structure
////////////////////

html {
  @extend .font-sans;
  background: $white;
}

body {
  @extend .wrap;
  margin: 0 auto;
  min-width: 320px;
  font-size: 16px;
  color: $black;
}

main#home {
  @include clearfix;
  div.bio {
    margin-bottom: 40px;
  }
  section {
    width: 50%;
    float: left;
    padding-right: 40px;
    @media screen and (max-width: 520px) {
      width: 100%;
      float: none;
      padding-right: 0;
    }
    h1 {
      font-size: 1.4em;
      margin: 20px 0 0;
    }
    p.date {
      color: $grey;
      margin: 0;
    }
  }
  article {
    border-bottom: $grey2 2px solid;
    padding-bottom: 20px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.selected-work article {
  position: relative;
  border-bottom: none !important;
  padding-bottom: 0 !important;
  .selected-work-info {
    display: none;
    @include position(absolute, 10px 10px 10px 10px);
    background: $white;
  }
  // a:hover .selected-work-info {
  //   display: block;
  // }
  h1 {
    text-align: center
  }
}
