<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cody Peterson</title>
    <meta name="description" content="Designer and Technologist">

    <link rel="stylesheet" type="text/css" media="all" href="/styles.css" />
    <script>
      /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
      window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
      grunticon(["/icons/icons.data.svg.css", "/icons/icons.data.png.css", "/icons/icons.fallback.css"]);
    </script>
    <noscript><link href="/icons/icons.fallback.css" rel="stylesheet"></noscript>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script src="/modernizr-custom.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="//use.typekit.net/kce7vqg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Analytics Here -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
  </head>
  <body class="{{ page.section }}">
    <header class="header-main">
      <h1><a href="/">Cody Peterson</a></h1>
      <h2>Designer &amp; Technologist</h2>
    </header>
    {{ content }}
    <footer class="footer-main">
      <p class="footer-copyright">&copy; 2014</p>
      <div class="footer-main-contact">
        <a href="mailto:hello@codyjamespeterson.com">hello@codyjamespeterson.com</a><br />
        428 SW 4th Avenue, Floor 2<br />
        Portland, Ore. 97204<br />
        (402) 577-0386
      </div>
    </div>
    <script type="text/javascript" src="/compiled.min.js"></script>
  </body>
</html>
