---
layout: blog
---

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2>{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  <div class="content">
    {{ content }}
  </div>
  <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
</article>
